body{
    background-color: rgba(255, 255, 255, 0.733);
    
}


/* Navbar*/
#Navbar{
    display:flex;
    position:static;
    align-items: center;
}
#nav{
    width: 100%;
    align-items: center;
    justify-content: center;
}
#comp_name{
    padding-right: 30px;
    justify-content: center;
}
#logo{
    height: 100px;
    border-radius: 50px;
    justify-content: center;
}


#links{
    display:flex;
    justify-content: center;

}
#link{
    position:static;

}
h3{
    padding-right: 20px;
    
    font-family: erif;
    position:static;
}
h3:hover{
    font-size: 32px;
    color:rgba(0, 215, 253, 0.822);
}

/* City Image and title area */
#section_1{
    width: 100%;
    min-height: 1000px;
    background-image: url("../images/image2.webp");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center; /* Center the image */
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content:center;
    

}
#section_1_text{
    background-color: rgba(73, 134, 156, 0.301);
    box-shadow: 5px 10px 50px 10px rgba(86, 154, 179, 0.322);
    border-radius: 10px;
    font-family: serif;
}
/*
Add to sections at end for fadein animations
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;     
*/
.p-2 {
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 5px #000000;
    font-family: serif;
    font-size: 20px;
}
  
  @keyframes fadeIn {
    0% { opacity: .15; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: .3; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: .3; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: .3; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: .3; }
    100% { opacity: 1; }
}

#contact_button{
    color:rgb(255, 255, 255);
    background-color:rgba(0, 0, 0, 0.356);
    font-size:30px;
    font-family: serif;
}
#contact_button:hover{
    font-size: 32px;
    background-color: rgba(0, 132, 255, 0.774);
}



/* Content and text*/

#section2_text{
    margin-top:30px;
}
#bottom_text_2{
    margin-top: 50px;
}
.section2_para{
    padding-left: 30px;
    font-size: 26px;
    margin-top: 30px;
    font-family: serif;
    
}
#list_services{
    font-family: serif;
    font-size: 20px;
    margin-top:20px;
    padding-bottom:0px;
    margin-left: 30px;
}
#section2{
    width:100%;
    border-top:solid black 1px;
    
}

h1{
    font-weight: bold;
    font-family: serif;
}
.carousel-caption{
    background-color: rgba(0, 0, 0, 0.404);
    border-radius: 10px;
    box-shadow: 0px 0px 50px 20px #00000085;
}

#section4{

}
/* #CarouselExampleCaptions{
    min-height: 480px;
}
#min_image{
    min-height:480px;
} */

#section3{
    height:300px;
    font-size:50px;
    font-family: serif;
    align-items: center;
    background-color: #ffffff25;
    justify-content: center;
    background-image: image("./backgrounds/wooden_bg/jpeg");
}

#scroll_button{
    color:rgb(0, 0, 0);
    font-size:24px;
    font-family: serif;
    
}
#scroll_button:hover{
    color:rgba(0, 0, 0, 0.979);
    font-size:26px;
    font-family: serif;
    
}
#contact_section{
    margin-top:100px;
    margin-bottom:100px;
}
#number{
    color: rgb(211, 179, 0);
    border-radius: 10px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;   
    text-shadow: 0px 1px 5px #9b9101;
}
#number:hover{
    font-size: 45px;
}